.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
top: 0;
left: 0;
width: 100vw;   /* 100% of the viewport width */
height: 100vh;  /* 100% of the viewport height */
background: linear-gradient(to right, #00E0FF, #AD00FF);  /* Adjust the gradient stops and colors as needed */
/* Add any other styles as needed */
/* Add any other styles as needed */
}

/* LoginWrapper.css */
.login-wrapper {
  width: 446px;
height: 414px;

border-radius: var(--Spacing-07, 16px);
border: var(--Border-05, 0.5px) solid var(--Line-grey-01, #D7DBE0);
opacity: var(--Border-10, 1);
background: #FFF;

}

/* LoginForm.css */
.login-form {



margin-left: 0px;
margin-right: 0px;
  margin-top: 48px;
margin-bottom: 48px;
}

label_Ecomerce {
  margin-left: 32px;
  margin-right: 48px;
  margin-bottom: 284px;
  color: #24272D;
text-align: center;
font-family: Be Vietnam Pro;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 34px; /* 121.429% */
letter-spacing: -0.3px;
opacity: var(--Border-10, 1);



}

label_input {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;    
  
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #4CAF50;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  border-radius: var(--rounded-lg, 8px);
  background: var(--Color-Purple-400, #A588FD);

  display: flex;
  width: 382px;
  padding: var(--Spacing-06, 12px) var(--Spacing-07, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--2, 8px);
}

button:hover {
  background-color: #2980b9;
}

button span {
  margin-left: 5px; /* Adjust the margin as needed */
}

